$primary-color: #d34936;
$gray: #f5f5f5;
$sidebar-width: 300px;
$header-height: 44px;

/* APP CLASS */

// ## APP LAYOUT
.container {
	display: grid;
	grid-template-rows: $header-height calc(100vh - $header-height);
	grid-template-columns: $sidebar-width calc(100vw - $sidebar-width);
}

// ## APP BAR,Nav BAR
.header {
	background-color: $primary-color;
	grid-column: 1/-1;
	grid-row: 1/2;
	color: $gray;

	// content
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 0.5rem 2rem;

	& > span {
		display: flex;
		cursor: pointer;
		font-size: 24px;
	}

	& > h3 {
		flex: 1;
	}
}

// ## Search Bar
.header__search__container {
    width: 300px;
    position: relative;

    border-radius: 4px;
    // display: flex;
}

.header__search__icon {
    position: absolute;
    display: flex;
    font-size: 16px;
    font-weight: 200;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
}
.header__search__input {
    width: 100%;
    padding: 5px;
    padding-left: 30px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    // border: none;
    font-size: 16px;
    outline: none;

    color: gray;
}


// ## SIDEBAR
.sidebar {
	grid-row: 2/3;
	grid-column: 1/2;
	background-color: $gray;
	position: sticky;

	// Inside cotent
	gap: 10px;
	padding: 20px 30px;

	&__middle {
		display: flex;
		gap: 15px;
		font-size: 20px;
		align-items: center;
		margin: 2px 0;
		padding: 10px;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			background-color: rgb(234, 234, 234);
		}

		& > span {
			display: flex;
		}
	}
}

.generic__lists,
.project__lists {
	& > li {
		display: flex;
		align-items: center;
		gap: 15px;
		font-size: 20px;
		cursor: pointer;
		margin: 2px 0;
		padding: 10px;
		border-radius: 4px;

		&:hover {
			background-color: rgb(234, 234, 234);
		}

		& > span {
			display: flex;
		}

		& > h6 {
			font-weight: 500;
		}
	}
}

.active {
	background-color: rgb(234, 234, 234);
}

// ## TODO DISPLAY
.content {
	grid-row: 2/3;
	grid-column: 2/3;
	overflow-y: scroll;
	padding: 20px 30px;
	padding-top: 0;
}
