$primary-color: #d34936;
$gray: #f5f5f5;
$sidebar-width: 300px;
$header-height: 44px;

body {
	background-color: white;
}

li {
	list-style: none;
}

.container {
	display: grid;
	grid-template-rows: $header-height calc(100vh - $header-height);
	grid-template-columns: $sidebar-width calc(100vw - $sidebar-width);
}

.header {
	background-color: $primary-color;
	grid-column: 1/-1;
	grid-row: 1/2;
	color: $gray;

	// content
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 0.5rem 2rem;

	& > span {
		display: flex;
		cursor: pointer;
		font-size: 24px;
	}
}

.sidebar {
	grid-row: 2/3;
	grid-column: 1/2;
	background-color: $gray;
	position: sticky;

	// Inside cotent
	gap: 10px;
	padding: 20px 30px;

	&__middle {
		display: flex;
		gap: 15px;
		font-size: 20px;
		align-items: center;
		margin: 2px 0;
		padding: 10px;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			background-color: rgb(234, 234, 234);
		}

		& > span {
			display: flex;
		}
	}
}

.generic__lists,
.project__lists {
	& > li {
		display: flex;
		align-items: center;
		gap: 15px;
		font-size: 20px;
		cursor: pointer;
		margin: 2px 0;
		padding: 10px;
		border-radius: 4px;

		&:hover {
			background-color: rgb(234, 234, 234);
		}

		& > span {
			display: flex;
		}

		& > h6 {
			font-weight: 500;
		}
	}
}

.active {
	background-color: rgb(234, 234, 234);
}

.content {
	grid-row: 2/3;
	grid-column: 2/3;
	overflow-y: scroll;
	padding: 20px 30px;
}
